# Dependencies
/playwright_bot/node_modules

# Environment variables
/playwright_bot/.env

# Playwright reports
/playwright_bot/playwright-report/
/playwright_bot/test-results/

# Authentication state
/playwright_bot/auth.json

# Debug artifacts
/playwright_bot/*.png
/playwright_bot/*.html
